{
    "semi": false,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "endOfLine": "auto",
    "arrowParens": "always",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "quoteProps": "as-needed",
    "useTabs": false,

    "overrides": [
        { "files": "*.json", "options": { "tabWidth": 2 } },
        { "files": "*.yml", "options": { "tabWidth": 2 } }
    ]
}
